<!DOCTYPE html>
<html>
    <head>
        <title>Привет, Мир!</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    </head>
    <body>
        <h1>Привет, Мир!</h1>
        <h2>Это учебный сайт, с его помощью будут изучены технологии 
            python/django, html/css.</h2>
        <h3>Как видите, здесь используются заголовки различных 
            уровней.</h3>
        <h4>Здесь есть маркированный список:</h4>
        <b> <!-- Why is whole list declared as h4? I'm sure it's a really strange idea to use for list header and list items same style -- h4 for sure. Changed for bold style -->
		<ul>
            <li>Элемент 1;</li>
            <li>элемент 2;</li>
            <li>элемент 3;</li>
            <li>последний элемент.</li>
        </ul>
		</b> <!-- Here's changed the same, h4 for b -->
        <h4>И нумерованный список:</h4>
        <b>
		<ol>
            <li>Элемент 1;</li>
            <li>элемент 2;</li>
            <li>элемент 3;</li>
            <li>последний элемент.</li>
        </ol>
		</b>
        <p>И даже таблица:</p>
        <table style="border: solid 1px black">
            <thead>
                <tr>
                    <th>Столбик 1</th>
                    <th>Столбик 2</th>
                    <th>Столбик 3</th>
                    <th>Столбик 4</th>
                    <th>Столбик 5</th>
                    <th>Столбик 6</th>
                </tr>
            </thead>
            <tr>
                <td>Строка 1 Столбец 1</td>
                <td>Строка 1 Столбец 2</td>
                <td>Строка 1 Столбец 3</td>
                <td>Строка 1 Столбец 4</td>
                <td>Строка 1 Столбец 5</td>
                <td>Строка 1 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 2 Столбец 1</td>
                <td>Строка 2 Столбец 2</td>
                <td>Строка 2 Столбец 3</td>
                <td>Строка 2 Столбец 4</td>
                <td>Строка 2 Столбец 5</td>
                <td>Строка 2 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 3 Столбец 1</td>
                <td>Строка 3 Столбец 2</td>
                <td>Строка 3 Столбец 3</td>
                <td>Строка 3 Столбец 4</td>
                <td>Строка 3 Столбец 5</td>
                <td>Строка 3 Столбец 6</td>
            </tr>
			 <tr>
                <td>Строка 4 Столбец 1</td>
                <td>Строка 4 Столбец 2</td>
                <td>Строка 4 Столбец 3</td>
                <td>Строка 4 Столбец 4</td>
                <td>Строка 4 Столбец 5</td>
                <td>Строка 4 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 5 Столбец 1</td>
                <td>Строка 5 Столбец 2</td>
                <td>Строка 5 Столбец 3</td>
                <td>Строка 5 Столбец 4</td>
                <td>Строка 5 Столбец 5</td>
                <td>Строка 5 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 6 Столбец 1</td>
                <td>Строка 6 Столбец 2</td>
                <td>Строка 6 Столбец 3</td>
                <td>Строка 6 Столбец 4</td>
                <td>Строка 6 Столбец 5</td>
                <td>Строка 6 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 7 Столбец 1</td>
                <td>Строка 7 Столбец 2</td>
                <td>Строка 7 Столбец 3</td>
                <td>Строка 7 Столбец 4</td>
                <td>Строка 7 Столбец 5</td>
                <td>Строка 7 Столбец 6</td>
            </tr>
        </table>
        <p> А еще есть котик. Куда же мы без котика?</p>
        <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg" alt="Чините интернет. Котик не загрузился:(">
    </body>
</html>